{% extends "../base.html" %}
{% load static %}

{% block content %}
<section class="about__page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="about__text">
                    <h3 class="about__title">{{about.section1}}</h3>
                    <div class="about__meta">
                        <img style="width:250px;height: 100%;" src="{{about.image.url}}" alt="">
                        <div class="about__meta__info">
                            <h5>{{about.name}}</h5>
                            <p>PHOTOGRAPHER / DESIGNER</p>
                        </div>
                    </div>
                    <p>{{about.description|safe}}</p>
                    <img src="img/signature.png" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="experience__text">
                    <h3 class="about__title">{{about.section2}}</h3>
                    <p>{{about.text1|safe}}</p>
                </div>
            </div> 
            <div class="col-lg-4">
                <div class="experience__text">
                    <h3 class="about__title">{{about.section3}}</h3>
                    <p>{{about.text2|safe}}</p>
                </div>
            </div> 
        </div>
    </div>
</section>
{% endblock %}