{% extends "../base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.3/css/lightgallery.css'>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.3/css/lg-zoom.css'>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/justifiedGallery@3.8.1/dist/css/justifiedGallery.css'> 
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.3/css/lg-thumbnail.css'> 

{% if share_disk%}
<style>
  .gallery-item {
    position: relative;
  }
.gallery-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7));
  opacity: 0;
  transition: opacity 0.3s ease;
}
.gallery-item:hover::after {
  opacity:1;
}
.gallery-item img {
    cursor: zoom-in; /* Apply zoom-in cursor only to the image */
}

  .hover-icons {
      position: absolute;
      bottom: 10px;
      right: 10px;
      display: flex;
      gap: 8px;
      opacity: 0;
      transition: opacity 0.3s ease;
      z-index: 1; /* Ensure icons are above the image */
  }

  .gallery-item:hover .hover-icons {
      opacity: 1;
  }

  .hover-icons i {
      color: white; 
      padding: 5px; 
      font-size: 20px;
      cursor: pointer;  
  }

  
  /* Modal styles */
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .modal-content {
    margin: 10% auto;
    padding: 50px;
    width: 80%;
    max-width: 600px;
    background: #fff;
    position: relative;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
  }

  .modal form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .modal form input, .modal form textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .modal form button {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
</style>
{% endif %}
<div class="collection_header mt-5 d-flex flex-column align-items-center" style="gap:15px;">
    <h2 class="display-6 ">{{collection.title}}</h2>
    {% if share_disk and collection.enable_folder_download %}
        <div class="d-flex flex-row" style="gap:15px;">
          <button class="share-project" style="border:none; outline:none; background-color:transparent;">
            <i style="color:black; font-size:20px; " class="fa fa-paper-plane"></i>
          </button>
          <a href="{{collection.google_drive_folder_download_link}}" class="d-flex flex-row align-items-center justify-content-center py-2 px-3 download_btn" style="gap:10px;border: 1px solid black; border-radius:5px;">
            <i style="color:black; font-size:10px;" class="fa fa-download"></i>
            <p class="m-auto">{% trans "Download the collection" %}</p>
          </a>
        </div>
    {% endif %}
</div>

<div class="gallery__page category_page">
    <div class="container-md">
        <div class="row justify-content-center">
          <div class="col col-md-12">
            <div class="gallery-container" id="animated-thumbnails-gallery">
              {% for photo in photos %}
                <a data-download-url="https://drive.google.com/uc?export=download&id={{photo.google_drive_photo_id}}" class="gallery-item" data-src="{{photo.url}}=w1600-q80" data-sub-html="<h4>Photo by - Guassim</h4><p>{{photo.description}}</p>">
                    <img alt="{{photo.alt_text}}" class="img-responsive" src="{{photo.url}}=w540-q80" />
                    {% if share_disk %}
                      <div class="hover-icons">
                        <i class="fa fa-paper-plane hover-link shareToggle" data-bs-toggle="modal" data-id="{{photo.id}}" data-bs-target="#infoModal" onclick="openShareLinkModal()"></i> 
                        <i class="fa fa-download hover-link" onclick="window.location.href='https://drive.google.com/uc?export=download&id={{photo.google_drive_photo_id}}'"></i> 
                        <i class="fa fa-heart hover-link favorite" data-id="{{photo.id}}"></i> 
                      </div>
                    {% endif %}
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
</div>

{% if share_disk %}
 
<!-- Share Link Modal -->
<div id="ShareLink" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeShareLinkModal()">&times;</span>
    <div style="text-align:center;">
      <h4>{% trans "Share this photo" %}</h4>
    </div>
    <input type="text" class="form-control linkInput" readonly placeholder="" aria-label="{{request.get_full_path}}" aria-describedby="basic-addon2">
    <button type="button" style="width:50%;align-self:center;background-color:black;" class="btn btn-dark copyLinkButton"><i style="font-size:10px;" class="fa fa-link"></i>  {% trans "Copy link" %}</button>
    <p class="text-center">{% trans "Or share via social media" %}</p>
    <div class="d-flex flex-row align-items-center justify-content-center" style="gap:15px;">
      <a><i class="fa fa-whatsapp"></i></a>
      <a><i class="fa fa-instagram"></i></a>
      <a><i class="fa fa-facebook"></i></a>
    </div>
  </div>
</div>

<!-- Photo Selection Modal -->
<div id="PhotoSelect" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closePhotoSelection()">&times;</span>
    <div style="text-align:center;">
      <h4>{% trans "Photo selection" %}</h4>
      <p class="text-gray">{% trans "Notify the photographer for editing or send a message." %}</p>
    </div>
    <form class="photo_select_form" method="POST" action="" >
      {% csrf_token %}
      <div class="form-group">
        <input type="input" class="form-control" required name="name" id="name" aria-describedby="name" placeholder="{% trans "Your name and surname" %}">
      </div>
      <div class="form-group">
        <input type="phone" class="form-control" name="phone" required id="phone" placeholder="{% trans "Phone" %}">
      </div>
      <div class="form-group"> 
        <select class="form-control" name="reason" required>
          <option value="Inform the photographer for edit">{% trans "Inform the photographer for edit" %}</option> 
          <option value="Liked the photo">{% trans "Liked the photo" %}</option> 
        </select>
      </div>
      <div class="form-group">
        <textarea class="form-control" required name="message" rows="3" placeholder="{% trans "Your message" %}"></textarea>
      </div> 
      <button type="submit" style="width:50%;align-self:center;background-color:black;" class="btn btn-dark createFavorite">{% trans "Continue" %}</button>
    </form>
    
  </div>
</div>
{% endif %}

<script src='https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.js'></script>
<script src='https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.3/lightgallery.umd.js'></script>
<script src='https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.3/plugins/zoom/lg-zoom.umd.js'></script>
<script src='https://cdn.jsdelivr.net/npm/justifiedGallery@3.8.1/dist/js/jquery.justifiedGallery.js'></script> 

{% if share_disk %}
  <script>

  const host = "http://"+"{{ request.get_host }}"; 
  const absolute_uri = "{{request.build_absolute_uri}}"
  const shareToggles = document.querySelectorAll('.shareToggle');  
  const shareProject = document.querySelector('.share-project')
  const collectionId = "{{collection.id}}" 

  let photoId

  if (shareProject) {
  shareProject.addEventListener('click', () => {
    openShareLinkModal()
    document.querySelector('.linkInput').placeholder = `${absolute_uri}`; 
  })
  }

  shareToggles.forEach((item) => { 
      item.addEventListener('click', (e) => {
          const photoId = e.target.dataset.id;   
          document.querySelector('.linkInput').placeholder = `${host}/photo/id/${photoId}`; 
      });
  });

  document.querySelectorAll('.hover-link').forEach((icon) => {
      icon.addEventListener('click', function(event) {
          event.stopPropagation(); 
      });
  });
  // Share link modal 
  function openShareLinkModal() {
    
    document.getElementById("ShareLink").style.display = "block";
  } 
  function closeShareLinkModal() {
      document.getElementById("ShareLink").style.display = "none";
  }

  // Photo selection modal
  function openPhotoSelection() {
    document.getElementById("PhotoSelect").style.display = "block";
  } 
  function closePhotoSelection() {
      document.getElementById("PhotoSelect").style.display = "none";
  }

  document.querySelector('.copyLinkButton').addEventListener('click', function() {
    const linkInput = document.querySelector('.linkInput');
    
    // Select the text field
    linkInput.select();
    linkInput.setSelectionRange(0, 99999);  

    // Copy the text inside the text field
    navigator.clipboard.writeText(linkInput.placeholder).then(function() {
        alert('Link copied to clipboard!');  
    }, function(err) {
        console.error('Could not copy text: ', err);
    });
  });


  // Photo selection
  const shareDisk = "{{share_disk}}"
  const csrfmiddlewaretoken = document.getElementsByName('csrfmiddlewaretoken')[0]?.defaultValue 
  const favoriteButtons = document.querySelectorAll('.favorite')
  const createFavorite = document.querySelector('.createFavorite')
  const photoForm = document.querySelector(".photo_select_form")
  const favCheck = localStorage.getItem('favCheck')
  const favProject = document.querySelector('.fav_project')

  favoriteButtons.forEach(item => {
      item.addEventListener('click', (e) => {
          e.preventDefault();  
          const favorites = JSON.parse(localStorage.getItem('favorites')) || []
          photoId = e.target.dataset.id;
 
          if (favCheck) {
            openPhotoSelection()

          }  
      });
  });     
  function addFavorite() {

  }
  photoForm.addEventListener('submit', (event) => {
    event.preventDefault();   
    const formData = new FormData(photoForm)
    localStorage.setItem("favCheck", true);
    formData.append('photoId', photoId); 
    formData.append('collectionId', collectionId); 
    formData.append('collection_slug', "{{collection.slug}}");

    fetch(`${host}/${language ? language : "en"}/collection/create_favorite/`, {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': csrfmiddlewaretoken,  
        }
    })
    .then(response => {
      if (!response.ok) {
        throw new Error("Something bad happened!")
      }
      return response.json()
    })
    .then(data => { 
        closePhotoSelection() 
        alert("Your message has been sent!")
    })
    .catch(error => {
        console.error("Error:", error); 
    });
  });


  </script>
{% endif %}

<script>
    jQuery("#animated-thumbnails-gallery")
      .justifiedGallery({
        captions: false, 
        rowHeight: 490,
        margins: 6,
        download: true, 
      })
      .on("jg.complete", function () {
        window.lightGallery(
          document.getElementById("animated-thumbnails-gallery"),
          {
            autoplayFirstVideo: false,
            pager: false,
            galleryId: "nature",
            plugins: [lgZoom],
            download: true,
            mobileSettings: {
              controls: false,
              showCloseIcon: false,
              download: false,
              rotate: false
            }
          }
        );
      });
</script>

{% endblock %}
 