{% extends "../base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.3/css/lightgallery.css'>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.3/css/lg-zoom.css'>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/justifiedGallery@3.8.1/dist/css/justifiedGallery.css'> 
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.3/css/lg-thumbnail.css'> 

<style>
  .gallery-item {
    position: relative;
  }
  .gallery-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7));
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .gallery-item:hover::after {
    opacity:1;
  }
  .gallery-item img {
      cursor: zoom-in; /* Apply zoom-in cursor only to the image */
  }

  .hover-icons {
      position: absolute;
      bottom: 10px;
      right: 10px;
      display: flex;
      gap: 8px;
      opacity: 0;
      transition: opacity 0.3s ease;
      z-index: 1; /* Ensure icons are above the image */
  }

  .gallery-item:hover .hover-icons {
      opacity: 1;
  }

  .hover-icons i {
      color: white; 
      padding: 5px; 
      font-size: 14px;
      cursor: pointer;  
  }

  
  /* Modal styles */
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .modal-content {
    margin: 10% auto;
    padding: 50px;
    width: 80%;
    max-width: 600px;
    background: #fff;
    position: relative;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
  }

  .modal form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .modal form input, .modal form textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .modal form button {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  } 
  .confirm-btn .m-auto {
    color:white;
  }
  .confirm-btn {
    background-color:black!important;
    color:white!important;
    transition: all 0.3s ease;
  }
  .confirm-btn:hover {
    color:black!important;
    background-color: white!important;
    transition: all 0.3s ease;

  }
  .confirm-btn:hover .m-auto{
    color: black;
    transition: all 0.3s ease;
  }
</style>
<div class="collection_header mt-5 d-flex flex-column align-items-center" style="gap:15px;">
    <h2 class="display-6 ">{{favorites.name}}</h2>
        <div class="d-flex flex-row" style="gap:15px;">
          <button style="border:none; outline:none; background-color:transparent;">
            <span class="favCount"><span>
            <i class="fa fa-heart hover-link favorite fav_project"></i> 
          </button>
          <button class="share-project" style="border:none; outline:none; background-color:transparent;">
            <i style="color:black; font-size:20px; " class="fa fa-paper-plane"></i>
          </button>
          <a href="" class="d-flex flex-row align-items-center justify-content-center py-2 px-3 confirm-btn" style="gap:10px;border: 1px solid black; border-radius:5px;">
            <i style="font-size:10px;" class="fa fa-share"></i>
            <p class="m-auto font-bold">Confirm the selection</p>
          </a>
        </div>
</div>

<div class="gallery__page category_page">
    <div class="container-md">
        <div class="row justify-content-center">
          <div class="col col-md-12">
            <div class="gallery-container" id="animated-thumbnails-gallery">
              {% for photo in photos %}
                <a data-download-url="https://drive.google.com/uc?export=download&id={{photo.google_drive_photo_id}}" class="gallery-item" data-src="{{photo.url}}=w1600-q80" data-sub-html="<h4>Photo by - Guassim</h4><p>{{photo.description}}</p>">
                    <img alt="{{photo.alt_text}}" class="img-responsive" src="{{photo.url}}=w540-q80" />
                    {% if share_disk %}
                      <div class="hover-icons">
                        <i class="fa fa-paper-plane hover-link shareToggle" data-bs-toggle="modal" data-id="{{photo.id}}" data-bs-target="#infoModal" onclick="openShareLinkModal()"></i> 
                        <i class="fa fa-download hover-link" onclick="window.location.href='https://drive.google.com/uc?export=download&id={{photo.google_drive_photo_id}}'"></i> 
                        <i class="fa fa-heart hover-link favorite" data-id="{{photo.id}}"></i> 
                      </div>
                    {% endif %}
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
</div>

{% if share_disk %}
 
<!-- Share Link Modal -->
<div id="ShareLink" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeShareLinkModal()">&times;</span>
    <div style="text-align:center;">
      <h4>Share this photo</h4>
    </div>
    <input type="text" class="form-control linkInput" readonly placeholder="" aria-label="{{request.get_full_path}}" aria-describedby="basic-addon2">
    <button type="button" style="width:50%;align-self:center;background-color:black;" class="btn btn-dark copyLinkButton"><i style="font-size:10px;" class="fa fa-link"></i>  Copy link</button>
    <p class="text-center">Or share via social media</p>
    <div class="d-flex flex-row align-items-center justify-content-center" style="gap:15px;">
      <a><i class="fa fa-whatsapp"></i></a>
      <a><i class="fa fa-instagram"></i></a>
      <a><i class="fa fa-facebook"></i></a>
    </div>
  </div>
</div> 
{% endif %}

<script src='https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.js'></script>
<script src='https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.3/lightgallery.umd.js'></script>
<script src='https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.3/plugins/zoom/lg-zoom.umd.js'></script>
<script src='https://cdn.jsdelivr.net/npm/justifiedGallery@3.8.1/dist/js/jquery.justifiedGallery.js'></script> 

{% if share_disk %}
  <script>

  const host = "http://"+"{{ request.get_host }}"; 
  const absolute_uri = "{{request.build_absolute_uri}}"
  const shareToggles = document.querySelectorAll('.shareToggle');  
  const shareProject = document.querySelector('.share-project')
  const collectionId = "{{collection.id}}" 

  let photoId

  if (shareProject) {
  shareProject.addEventListener('click', () => {
    openShareLinkModal()
    document.querySelector('.linkInput').placeholder = `${absolute_uri}`; 
  })
  }

  shareToggles.forEach((item) => { 
      item.addEventListener('click', (e) => {
          const photoId = e.target.dataset.id;   
          document.querySelector('.linkInput').placeholder = `${host}/photo/id/${photoId}`; 
      });
  });

  document.querySelectorAll('.hover-link').forEach((icon) => {
      icon.addEventListener('click', function(event) {
          event.stopPropagation(); 
      });
  });
  // Share link modal 
  function openShareLinkModal() {
    
    document.getElementById("ShareLink").style.display = "block";
  } 
  function closeShareLinkModal() {
      document.getElementById("ShareLink").style.display = "none";
  }

  // Photo selection modal
  function openPhotoSelection() {
    document.getElementById("PhotoSelect").style.display = "block";
  } 
  function closePhotoSelection() {
      document.getElementById("PhotoSelect").style.display = "none";
  }

  document.querySelector('.copyLinkButton').addEventListener('click', function() {
    const linkInput = document.querySelector('.linkInput');
    
    // Select the text field
    linkInput.select();
    linkInput.setSelectionRange(0, 99999);  

    // Copy the text inside the text field
    navigator.clipboard.writeText(linkInput.placeholder).then(function() {
        alert('Link copied to clipboard!');  
    }, function(err) {
        console.error('Could not copy text: ', err);
    });
  });


  // Photo selection
  const shareDisk = "{{share_disk}}"
  const csrfmiddlewaretoken = document.getElementsByName('csrfmiddlewaretoken')[0]?.defaultValue 
  const favoriteButtons = document.querySelectorAll('.favorite')
  const createFavorite = document.querySelector('.createFavorite')
  const photoForm = document.querySelector(".photo_select_form")
  const favStorage = JSON.parse(localStorage.getItem('favorites'))
  const favProject = document.querySelector('.fav_project')
  favoriteButtons.forEach(item => {
      item.addEventListener('click', (e) => {
          e.preventDefault();  
          const favorites = JSON.parse(localStorage.getItem('favorites')) || []
          photoId = e.target.dataset.id;
          if (favorites[shareDisk]) {
            if (photoId) {
              toggleFavorite(photoId)
            }
          } else {
            openPhotoSelection()
          }
      });
  });     
  if (favStorage &&(favStorage[shareDisk]?.length > -1)) { 
    favProject.addEventListener('click', () => {  
        window.location.replace(`${host}/${language ? language : 'en'}/collection/favorites/${shareDisk}`);
    })
  }

  document.addEventListener("DOMContentLoaded", function() {
    updateFavoriteIcons();
  });

  function toggleFavorite(photoId) {
    let favorites = JSON.parse(localStorage.getItem("favorites")) || []; 
    if (Object.keys(favorites).length > 0){ 
      if (favorites[shareDisk]?.includes(photoId)) {
        favorites[shareDisk] = favorites[shareDisk].filter(id => id !== photoId);
      } else {
        favorites[shareDisk].push(photoId);
      }
    }

    localStorage.setItem("favorites", JSON.stringify(favorites));

    updateFavoriteIcons();
  }

  function updateFavoriteIcons() {
    let favorites = JSON.parse(localStorage.getItem("favorites")) || [];
    
    favoriteButtons.forEach(item => {
        let photoId = item.dataset.id;

        if(Object.keys(favorites).length > 0) {
          if (favorites[shareDisk]?.includes(photoId)) {
            item.classList.add("added");
          } else {
            item.classList.remove("added");
          }
        }
    });
  }

  async function addFavorite () {
      const target = `${host}/${language ? language : "en"}/collection/add_favorite/`
      const data = {slug:localStorage.getItem("fav"), photo_id: photoId} 
      try {
        const response = await fetch(target, {
          method: 'POST',
          body: JSON.stringify(data),
          headers: {
              'X-CSRFToken': csrfmiddlewaretoken,  
              'Content-Type': 'application/json',
              "Accept": "application/json",

          }
          }) 
        const dataJson = await response.json()  
        console.log(dataJson)
      } catch (err) {
        console.log(err)
      }
  }

  photoForm.addEventListener('submit', (event) => {
    event.preventDefault();   
    const formData = new FormData(photoForm)
    localStorage.setItem("favCheck", true);
    localStorage.setItem("fav", generateGuid());
   
    let favorites = JSON.parse(localStorage.getItem("favorites")) || {};
 
    if (!favorites[shareDisk]) {
      favorites[shareDisk] = [];
    }
    localStorage.setItem("favorites", JSON.stringify(favorites));

    formData.append('collectionId', collectionId);
    formData.append('photoId', photoId);
    formData.append('fav_id', localStorage.getItem("fav"));

    /*
    fetch(`${host}/${language ? language : "en"}/collection/create_favorite/`, {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': csrfmiddlewaretoken,  
        }
    })
    .then(response => response.json())
    .then(data => { 
        closePhotoSelection()
    })
    .catch(error => {
        console.error("Error:", error); 
    });
    */
  });


  </script>
{% endif %}

<script>
    jQuery("#animated-thumbnails-gallery")
      .justifiedGallery({
        captions: false, 
        rowHeight: 490,
        margins: 6,
        download: true, 
      })
      .on("jg.complete", function () {
        window.lightGallery(
          document.getElementById("animated-thumbnails-gallery"),
          {
            autoplayFirstVideo: false,
            pager: false,
            galleryId: "nature",
            plugins: [lgZoom],
            download: true,
            mobileSettings: {
              controls: false,
              showCloseIcon: false,
              download: false,
              rotate: false
            }
          }
        );
      });
</script>

{% endblock %}
 